.vs/
Common/bin/
Common/obj/
Engine/bin/
Engine/obj/
MIDIJournalWriter/obj/
PluginsCore/obj/
WindowsForms/obj/
WindowsFormsPlugins/obj/
XMLJournalWriter/obj/
bin/
xmlrpc/bin/
xmlrpc/obj/

